.outlet {
    margin-top: 40px;
    min-height: 90vh;
    margin-bottom: 40px;
}
h3 {
    text-align: center;
    background-color: rgb(247, 189, 0);
    font-size: 16px;
    padding: 10px;
    a {
        color: blue;
    }
}