form {
    width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: center;    
    flex-direction: column;
    gap: 10px;
    input {
        padding: 10px;
        border-radius: 10px;
        border: solid 1px gray;
        background-color: #dddddd;
    }
    button {
        padding: 10px 25px;
        border-radius: 10px;
        align-self: flex-start;
        border: solid 1px black;
    }
}