<div class="top">
    <h1>Everrest Store</h1>
</div>
<div class="bottom">
    <div class="left">
        <h2>About us</h2>
        <div class="info">
            <p>This store is made using the Everrest API Made by Educata</p>
            <p>The API is free for everyone to use.</p>
            <a href="https://everrest.educata.dev/">You can find out more about the API Here</a>
        </div>
    </div>
    <div class="right">
        <h2>Contact us</h2>
        <div class="info">
            <p>Address: Tbilisi, Alexander Kazbegi Ave. 34/34b</p>
            <p>Hotline: +995 (322) 15-55-51</p>
            <p>Email: study&#64;itstep.ge</p>
        </div>
    </div>
</div>
<hr>
<div class="additional">
    <div class="left">
        ©2023-2024 Giorgi Silagadze & Educata
    </div>
    <div class="right">
        <a href="https://www.facebook.com/itstep.ge" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
        <a href="https://www.instagram.com/itstep.ge/" target="_blank"><i class="fa-brands fa-square-instagram"></i></a>
        <a href="https://www.youtube.com/channel/UCEzDl2TEKvXQ3egFBhp-hPA" target="_blank"><i class="fa-brands fa-square-youtube"></i></a>
    </div>
</div>